@media only screen and (max-width: 600px) {
    .header-title p {
        font-size: 33px !important;
    }
       
    .item-box-top{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px
    }
    .item-box-center{
        display: flex;
        flex-direction: column;
    }
    .item-box-bottom{
        display: flex;
        flex-direction: column;
    }
    .box-top-left{
        margin-top: 20px;
    }
}
*{
    box-sizing: border-box;
}   
body{
    padding: 0px;
    margin: 0px;
    background-color: #254a72 !important;
}
section{
    display: flex;
    flex-direction: column;
    
}
.felex-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-title{
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #fff;
    width: 60%;
    position: relative;
    top: 102px;
    text-align: center;
}
.header-title p{
    color: #e5eaf4;
    text-align: center;
    font-family: 'Vazir', Arial, sans-serif;
    font-weight:normal;
    font-size: 63px;
    margin: 0px;
}
.header-title samp{
    color: #5a7184;
    font-size: 23px;
}
.header-img img{
    width: 100%;
    padding: 20px;
    border-radius: 32px;
}
.item-felex{
    padding-left: 20px;
    padding-right: 20px;
}
.item-box-top{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.box-item{
    border: 1px solid #e9edf1;
    background-color: #e9edf1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 406px!important;
    margin: 20px 10px 20px 10px;
}
.box-item p{
    color: #183b56;
    font-family: 'Vazir', Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;
    
}
.box-item span{
    color: #5a7184;
    font-family: 'Vazir', Arial, sans-serif;
    font-weight:normal;
    font-size: 30px;
}
.box-item img{
    border-radius: 10px;
    border: 1px solid #c8d9ed;
    padding: 13px;
    color: #1565d8; 
}

.footer-box{
    height: 20%;
    border:1px solid #1565d8;
    border-radius: 8px;
    background-color: #1565d8;
    margin: 0px 20px 20px 20px ;
}
.footer-box p{
    text-decoration:none;
    color: #183b56;
    font-weight: bold;
    text-align: center;
}
.footer-box h6{
    text-align: center;
    color: #98bbee;
}
.panel-heading a{
    text-decoration:none;
}
.text-collapse{
padding: 20px;
}
